.displayPanel{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 1.5rem;
    margin-top:-0.1rem;
    min-width: 22.1rem;
    max-width: 22.1rem;
    background-color: #254260;
    word-break: break-all;
    user-select: none;
}
p.display{
    margin: 0;
    font-size: 0.85rem;
    color: #FFD500;
    text-align: right;
}
@media screen and (max-width: 370px){
    .displayPanel{
        min-width: 20rem;
        max-width: 20rem;
    }

}
