.input-div{
    background-color: #64b6ac;
    width: 100%;
}
#input{
    outline: none;
    background-color:#64b6ac ;
    border: none;
    font-size: 1.1rem;
    min-width: 22rem;
    color: transparent;
    text-shadow: 0 0 0 white;
    font-family: 'Orbitron', sans-serif;
    text-align: right;

}
::-webkit-input-placeholder{
    color: white;
}
